name: Selenium BDD Framework CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * *"     # Runs daily at 5:30 AM IST (00:00 UTC)
      timezone: "Asia/Kolkata"
  workflow_dispatch:         # Allows manual trigger

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Chrome & ChromeDriver
        uses: browser-actions/setup-chrome@v1

      - name: Display Chrome Version
        run: google-chrome --version

      - name: Run Maven Tests in Headless Mode
        run: mvn clean test -Dheadless=true -DforkCount=2 -DreuseForks=false

      - name: Upload Cucumber HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report
          path: target/cucumber-report.html
